@model EmployeesData
@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script type="text/javascript" src="~/js/Index.js"></script>
}

<div class="text-center">
    <ul id="employeesList">
    </ul>
    <input type="text" id="nameField" title="e.g Claudia" />
    <button id="createButton" title="Create">Create</button>
</div>
